{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <!--Work-->
    <div class="section scrollspy" id="work">
        <div class="container">
            <h2 class="header text_b">채용정보 </h2>
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ url_for('main.static_img', filename='project1.jpg') }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">청파클럽 신규채용 <i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://naver.com">JOB Link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">회사명 <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>(주) 청파클럽 </p>
                            <span class="card-title grey-text text-darken-4">급여</span>
                            <p>업계 최고 대우</p>
                            <span class="card-title grey-text text-darken-4">위치</span>
                            <p>서울시 배고프다구 포동포동 라면먹고싶다</p>
                            <span class="card-title grey-text text-darken-4">채용 마감</span>
                            <p>2016-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ url_for('main.static_img', filename='project2.jpeg') }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">청파클럽 신규채용 <i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://naver.com">JOB Link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">회사명 <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>(주) 청파클럽 </p>
                            <span class="card-title grey-text text-darken-4">급여</span>
                            <p>업계 최고 대우</p>
                            <span class="card-title grey-text text-darken-4">위치</span>
                            <p>서울시 배고프다구 포동포동 라면먹고싶다</p>
                            <span class="card-title grey-text text-darken-4">채용 마감</span>
                            <p>2016-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ url_for('main.static_img', filename='project3.png') }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">청파클럽 신규채용 <i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://naver.com">JOB Link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">회사명 <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>(주) 청파클럽 </p>
                            <span class="card-title grey-text text-darken-4">급여</span>
                            <p>업계 최고 대우</p>
                            <span class="card-title grey-text text-darken-4">위치</span>
                            <p>서울시 배고프다구 포동포동 라면먹고싶다</p>
                            <span class="card-title grey-text text-darken-4">채용 마감</span>
                            <p>2016-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ url_for('main.static_img', filename='project4.jpg') }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">청파클럽 신규채용 <i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://naver.com">JOB Link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">회사명 <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>(주) 청파클럽 </p>
                            <span class="card-title grey-text text-darken-4">급여</span>
                            <p>업계 최고 대우</p>
                            <span class="card-title grey-text text-darken-4">위치</span>
                            <p>서울시 배고프다구 포동포동 라면먹고싶다</p>
                            <span class="card-title grey-text text-darken-4">채용 마감</span>
                            <p>2016-01-01</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
