{% extends "base.html" %}

{% block title %}
    Joblist
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <!--Work-->
    <div class="section scrollspy" id="work">
        <div class="container">
            <h2 class="header text_b">채용정보 </h2>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card darken-1">
                        <form method="get">
                            <div class="card-content white-text">
                                <span class="card-title black-text">Job Search</span>
                                <div class="input-field">
                                    <input id="query" type="text" class="validate" name="query" style="color: black">
                                    <label for="query">찾고싶은 직업을 입력하세요</label>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn waves-effect waves-light" type="submit">찾기
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="row">
                <table>
                    <thead>
                    <tr>
                        <th data-field="id">번호</th>
                        <th data-field="name">회사</th>
                        <th data-field="title">공고 내용</th>
                        <th data-field="role">근무 조건</th>
                        <th data-field="work_style">근무 형태</th>
                        <th data-field="pay">급여</th>
                        <!-- <th data-field="title">위치</th> -->
                        <th data-field="end">채용 마감일</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for job in all_job %}
                        <tr>
                            <td>{{ job.id }}</td>
                            <td>{{ job.company.name }}</td>
                            <td><a href="{{ job.url }}">{{ job.title }}</a></td>
                            <td>{{ job.role }}</td>
                            <td>{{ job.work_style }}</td>
                            <td>{{ job.pay }}</td>
                            <!-- <td>근무위치</td> -->
                            <td>{{ job.end }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- section -->
{% endblock %}
