{% extends "base.html" %}

{% block title %}
    Joblist
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <!--Work-->
    <div class="section scrollspy" id="work">
        <div class="container">
            <h2 class="header text_b">채용정보 </h2>
            <div class="row">
                {% for job in all_job %}
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <!--
                                <img class="activator"
                                     src="{{ url_for('main.static_img', filename='project1.jpg') }}">
                                 -->
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ job.title }}<i
                                        class="mdi-navigation-more-vert right"></i></span>
                                <p><a href="{{ job.url }}">JOB Link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">회사명 <i
                                        class="mdi-navigation-close right"></i></span>
                                <p>{{ job.company.name }}</p>
                                <span class="card-title grey-text text-darken-4">채용 마감</span>
                                <p>{{ job.end }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
