<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>
        Sunrin Job World - {% block title %}{% endblock %}
    </title>

    <!-- CSS  -->
    <link href="{{ url_for('main.static_min', filename='plugin-min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('main.static_min', filename='custom-min.css') }}" type="text/css" rel="stylesheet">

    {% block head %}
    {% endblock %}

</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/intro" id="logo-container" class="brand-logo">GOOD-JOB</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/intro">intro</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="/aboutus">Maker</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/intro">intro</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="/aboutus">Maker</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>


{% block body %}
{% endblock %}

<!--  Scripts-->
<script src="{{ url_for('main.static_min', filename='plugin-min.js') }}"></script>
<script src="{{ url_for('main.static_min', filename='custom-min.js') }}"></script>

</body>
</html>
